button {
  display: block;
  margin: 0 0 12px;
  background-color: $red;
  border: none;
  color: $white;
  font-weight: $light;
  padding: 12px 20px;
  width: 100%;
  text-transform: uppercase;
  transition: background 0.3s ease-out;

  &.icon-only {
    padding: 12px 14px;
    width: auto;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
    cursor: pointer;
    outline: 4px solid transparent;
  }
}

button[data-icon],
i {
  &:before {
    @extend .icon;
    content: attr(data-icon);
    margin: -3px 0 0 -6px;
    padding-right: 8px;
  }

  &.icon-only:before {
    padding: 0;
    margin: 0;
  }
}
