.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.show-flex {
  display: flex !important;
}
