.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.hidden {
  display: none !important;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.show {
  display: block !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.row {
  display: flex;
}

.border-top {
  border-top: 2px solid $light-gray;
}

.col-2 {
  flex: 50%;
}
