/** Colours **/
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$black05: rgba(0, 0, 0, 0.05);
$red: rgba(237, 4, 51, 1);
$light-gray: rgba(209, 209, 209, 1);
$gray: rgba(121, 127, 135, 1);
$dark-blue: rgba(26, 36, 52, 1);

/** Font Weights **/
$light: 300;
$normal: 400;
$bold: 700;

/*** Media ***/
$breakpoint-lg-phone: 568px;
